
    * {
      box-sizing: border-box;
      table-layout:auto;
      
    }
    .container{
      display: flex;
      justify-content: space-between;
      border: 1px solid;
      padding: 10px;
      box-shadow:  10px 8px 10px #9c9c9c;
      
    }
    .form- {
      flex: 1;
      padding: 10px;
      height: 400px;
     /* border-block-end-width: 1px solid #ccc;*/ /*this property is used in inline css ok.*/
      margin: 5px;
      
    }
  
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }
    }
   
  