body{
    margin: 0;
    padding: 0;
    position:relative;
  }
  .navbar{
    margin: 0;
    width: 100%;
    height: 20px;
  }
  .nav-ul{
    margin: 15;
    padding: 10px;
    list-style: none;
  }
  li{
    float: left;
    padding: 8px;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 44px;
  }
  
  .active{
    color: #bd1571;
    border-bottom: 4px solid #6c0b4d;
  }
  .brand-h{
    margin-left: 0;
    font-size: 32px;
    margin-right: 230px;
    margin-right: 323px;
  }
  a{
    text-decoration: none;
    color: hsl(0, 0%, 5%);
    font-weight: 900;
    margin-left: 30;
  }
  .brand{
    padding-right: 0px;
    padding-left: 2px;
    margin-right: 14;
    margin-left: 20px;
  }
  .brand img{
    height: 33px;
    
  }
  .brand:hover{
    border-bottom: 0;
  }
  .brand-h:hover{
    border-bottom: 0;
  }
  .main{
    margin-top: 45px;
    width: 100%;
    height: 93vh;
    border-radius: 30px;
    background: linear-gradient(-90deg, #fce7f6 0%, #e3eaf8 100%);
  }
  .main-l{
    width: 36%;
    margin-left: 80px;
    padding-top: 70px;
  }
  .hd{
    font-size: 53px;
    color: #333;
  }
  .hd2{
    font-size: 64px;
    font-weight: 900;
    margin-top: -55px;
    letter-spacing: 0.03em;
    color: #222;
  }
  .content{
    width: 94%;
    margin-top: 35px;
    color: gray;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 16px;
  }
  .btn{
    margin-top: 80px;
  }
  .btn a{
    background: #fff;
    font-size: 16px;
    color: #ff0073;
    border-radius: 25px;
    padding: 15px 35px;
    padding-left: 45px;
    letter-spacing: 0.1em;
    box-shadow: 2px 1px 7px #000;
  }

  .main-r{
    position: absolute;
    top: 150px;
    left: 500px;
  }
  .r-t{
    margin-left: 100px;
    margin-top: 30px;
  }
  .r-t img{
    transform: scaleX(-1);
    width: 300px;
    height: 300px;
  }
  .r-btn{
    margin-left: 450px;
    margin-top: -150px;
  }
  .r-btn i{
    color: #747474;
    font-size: 30px;
  }
  .r-b{
    margin-top: 200px;
    margin-left: 20px;
  }
  .r-b ul{
    list-style: none;
  }
  .pink{
    width: 75px;
    height: 75px;
    margin-right: 70px;
    transform: scaleX(-1);
  }
  .blue{
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
    margin-top: 15px;
    margin-right: 20px;
  }
  .yellow{
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
    margin-top: 15px;
  }
  .r-b hr{
    margin-top: -40px;
    margin-bottom: 5px;
    border-top: 6px dotted #fff;
    width: 70%;
  }
  .dot1{
    
    width: 19px;
    height: 19px;
    background: #ff0073;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: -33px;
    cursor: pointer;
  }
  .dot2{
    width: 13px;
    height: 13px;
    background: #57C7E4;
    border: 4px solid #fff;
    border-radius: 50%;
    margin-left: 260px;
    margin-top: -25px;
    cursor: pointer;
  }
  .dot3{
    width: 13px;
    height: 13px;
    background: #ECDC47;
    border: 4px solid #fff;
    border-radius: 50%;
    margin-left: 380px;
    margin-top: -22px;
    cursor: pointer;
  }
  .r-b ul li:hover{
    border-bottom: 0;
  }
  #contact {
    padding: 40px 0;
    text-align: center;
    background-color: rgb(245, 211, 228);
  }
  
  .form-group {
    text-align: left;
  }
  
  label {
    font-weight: 600;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button{
    margin-top: 80px;
  }
  .button{
    background: #fff;
    font-size: 16px;
    color: #ff0073;
    border-radius: 25px;
    padding: 15px 35px;
    padding-left: 45px;
    letter-spacing: 0.1em;
    box-shadow: 2px 1px 7px #000;
  }

